.content-about {
  text-align: center !important;
}
.bg-img {
  background-image: url(../../../img/About/bg-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh !important;
}
.shop-content {
  font-size: 13px;
}
