.banner-row {
  align-self: center !important;
}

.left-img {
  background-image: url(../../../img/main-rev-img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}
.right-img {
  background-image: url(../../../img/main-rev-img-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}
